*{
    padding: 0px;
    margin:3px;
}
#Cabecera{
    display: flex;
    background-color:#FBECC3;
    justify-content: space-evenly;
}
#Menu>ul{
    margin-top:30px;
    display: flex;
    list-style-type: none;
}
#Menu a{
    padding: 60px;
    text-decoration: none;
    color: rgb(137, 30, 30);
    font-size: 19px;
}
#Menu a:hover{
    color: #b6670e;
    cursor: grab;
}
#Inicio{
    display: flex;
}
#Inicio p{
    margin: 10px;
    margin-left: 20px;
    margin-right: 10px;
}
#Principal{
    text-align: center;
}
#Principal hr{
    border: 1px solid #891216;
}
#Principal p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}
#Primero{
    border-collapse: collapse;
    margin:auto;
}
td,th{
    border:2px solid white;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 0px 37px 0px 36px;
    background-color:#e9d8a6;
}
.numero{
    color: black;
}
#Titular{
    font-size: 27px;
    background-color:#f0eab0;
    color: black;
}
.rojo{
    background-color: #891216;
}
#Segunda{
    border-collapse: collapse;
    margin:auto;
}
#Segunda td,th{
    border:2px solid white;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 0px 21px 0px 19px;
}
.numero2{
    background-color:#891216;
}
#Titular2{
    color: white;
    font-size: 27px;
    background-color:#a60006;
}
.anaranjado{
    background-color:#fc8925;
}
#Formulario{
    width:220px;
    margin-left:70px;
    border:1px solid; 
    background-color:#FBECC3;
    color:white;
    padding:20px;  
    text-align: left;  
}
#boton{
    text-align: center;
}
#Formulario h1{
    color: black;
    text-align: center;
}
#Formulario h3{
    color: black;
    font-size: 13px;
}
#Formulario hr{
    border: 1px solid #891216;
}
#Contenido{
    display: flex;
    justify-content:center;
}
#Pie{
    text-align: left;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    columns: 4;
    background-color:#940D11;
    color: white;
    margin-top: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
#Pie p{
    font-size: 15px;
}
#Imagen{
    padding-top: 30px;
    padding-bottom: 15px;
}
.Caja h3{
    padding-top: 20px;
    padding-bottom: 10px;
}
.Caja> ul{
    list-style-type: none;
}
.Caja a{
    text-decoration: none;
    color: white;
}